Source: pki
Section: java
Priority: extra
Maintainer: Timo Aaltonen <tjaalton@ubuntu.com>
Build-Depends: debhelper (>= 8.0.0), pkg-config,
 cmake,
 javahelper,
 default-jdk,
 libjss-java,
 libldap2-dev,
 libldap-java,
 libnspr4-dev,
 libnss3-dev,
 libservlet2.4-java,
 libtomcatjss-java (>= 6.0.0),
 libxalan2-java,
 libxerces2-java,
 libosutil-java,
 policycoreutils,
 selinux-policy-dev,
 velocity,
Standards-Version: 3.9.2
Homepage: http://pki.fedoraproject.org
Vcs-Git: git://git.debian.org/collab-maint/pki-core.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/pki-core.git;a=summary

Package: pki-setup
Architecture: all
Depends: ${misc:Depends},
 libfile-slurp-perl,
 libcrypt-ssleay-perl,
 policycoreutils,
 ldap-utils,
Description: Certificate System - PKI Instance Creation & Removal Scripts
 PKI setup scripts are used to create and remove instances from PKI deployments.
 .
 This package is a part of the PKI Core used by the Certificate System.

Package: libpki-symkey-java
Architecture: any
Depends: ${shlibs:Depends}, ${java:Depends}, ${misc:Depends},
 libjss-java,
 libnss3,
Description: Symmetric Key JNI Package
 The Symmetric Key Java Native Interface (JNI) package supplies various native
 symmetric key operations to Java programs.
 .
 This package is a part of the PKI Core used by the Certificate System.

Package: pki-native-tools
Architecture: any
Section: admin
Depends: ${shlibs:Depends}, ${misc:Depends},
 ldap-utils,
 libnss3,
 libnss3-tools,
Description: Certificate System - Native Tools
 These platform-dependent PKI executables are used to help make
 Certificate System into a more complete and robust PKI solution.
 .
 This package is a part of the PKI Core used by the Certificate System.

Package: libpki-util-java
Architecture: all
Depends: ${java:Depends}, ${misc:Depends},
 libjss-java,
 libldap-java,
 libosutil-java,
Suggests: libpki-util-java-doc (= ${binary:Version})
Description: Certificate System - PKI Utility Framework - Java bindings
 The PKI Utility Framework is required by the following four PKI subsystems:
 .
      the Certificate Authority (CA),
      the Data Recovery Manager (DRM),
      the Online Certificate Status Protocol (OCSP) Manager, and
      the Token Key Service (TKS).
 .
 This package is a part of the PKI Core used by the Certificate System.

Package: libpki-util-java-doc
Architecture: all
Section: doc
Depends: ${java:Depends}, ${misc:Depends},
Description: Certificate System - PKI Utility Framework Javadocs
 This documentation pertains exclusively to version %{version} of
 the PKI Utility Framework.
 .
 This package is a part of the PKI Core used by the Certificate System.

Package: pki-java-tools
Architecture: all
Depends: ${java:Depends}, ${misc:Depends},
 pki-native-tools,
 libpki-util-java (= ${binary:Version}),
 libpki-tools-java (= ${binary:Version}),
Description: Certificate System - PKI Java-Based Tools
 These platform-independent PKI executables are used to help make
 Certificate System into a more complete and robust PKI solution.
 .
 This package is a part of the PKI Core used by the Certificate System.

Package: libpki-tools-java
Architecture: all
Depends: ${java:Depends}, ${misc:Depends},
Suggests: libpki-tools-java-doc (= ${binary:Version})
Description: Certificate System - PKI Java-Based Tools - Java bindings
 These platform-independent PKI executables are used to help make
 Certificate System into a more complete and robust PKI solution.
 .
 This package is a part of the PKI Core used by the Certificate System.

Package: libpki-tools-java-doc
Architecture: all
Section: doc
Depends: ${java:Depends}, ${misc:Depends},
Description: Certificate System - PKI Java-Based Tools Javadocs
 This documentation pertains exclusively to version %{version} of
 the PKI Java-Based Tools.
 .
 This package is a part of the PKI Core used by the Certificate System.

Package: pki-common
Architecture: all
Depends: ${java:Depends}, ${misc:Depends},
 libpki-common-java (= ${binary:Version}),
 libpki-symkey-java (= ${binary:Version}),
 pki-common-theme,
 pki-java-tools (= ${binary:Version}),
 pki-setup (= ${binary:Version}),
 libcommons-lang-java,
 libcommons-logging-java,
 libjss-java,
 libldap-java,
 libservlet2.4-java,
 libtomcatjss-java (>= 6.0.0),
 libxalan2-java,
 libxerces2-java,
 velocity,
 libxml-commons-external-java,
 libxml-commons-resolver1.1-java,
Description: Certificate System - PKI Common Framework
 The PKI Common Framework is required by the following four PKI subsystems:
 .
     the Certificate Authority (CA),
     the Data Recovery Manager (DRM),
     the Online Certificate Status Protocol (OCSP) Manager, and
     the Token Key Service (TKS).
 .
 This package is a part of the PKI Core used by the Certificate System.

Package: libpki-common-java
Architecture: all
Depends: ${java:Depends}, ${misc:Depends},
Suggests: libpki-common-java-doc (= ${binary:Version})
Description: Certificate System - PKI Common Framework - Java bindings
 The PKI Common Framework is required by the following four PKI subsystems:
 .
     the Certificate Authority (CA),
     the Data Recovery Manager (DRM),
     the Online Certificate Status Protocol (OCSP) Manager, and
     the Token Key Service (TKS).
 .
 This package is a part of the PKI Core used by the Certificate System.

Package: libpki-common-java-doc
Architecture: all
Section: doc
Depends: ${java:Depends}, ${misc:Depends},
Description: Certificate System - PKI Common Framework Javadocs
 This documentation pertains exclusively to version %{version} of
 the PKI Common Framework.
 .
 This package is a part of the PKI Core used by the Certificate System.

#Package: pki-selinux
#Architecture: all
#Depends: ${java:Depends}, ${misc:Depends},
# policycoreutils,
# selinux-policy,
#Description: Certificate System - PKI Selinux Policies
# Selinux policies for the PKI components.
# .
# This package is a part of the PKI Core used by the Certificate System.

Package: pki-ca
Architecture: all
Depends: ${java:Depends}, ${misc:Depends},
 libpki-ca-java (= ${binary:Version}),
 pki-ca-theme,
 pki-common,
# pki-selinux,
Description: Certificate System - Certificate Authority
 The Certificate Authority (CA) is a required PKI subsystem which issues,
 renews, revokes, and publishes certificates as well as compiling and
 publishing Certificate Revocation Lists (CRLs).
 .
 The Certificate Authority can be configured as a self-signing Certificate
 Authority, where it is the root CA, or it can act as a subordinate CA,
 where it obtains its own signing certificate from a public CA.
 .
 This package is a part of the PKI Core used by the Certificate System.

Package: libpki-ca-java
Architecture: all
Depends: ${java:Depends}, ${misc:Depends},
Description: Certificate System - Certificate Authority - Java bindings
 The Certificate Authority (CA) is a required PKI subsystem which issues,
 renews, revokes, and publishes certificates as well as compiling and
 publishing Certificate Revocation Lists (CRLs).
 .
 The Certificate Authority can be configured as a self-signing Certificate
 Authority, where it is the root CA, or it can act as a subordinate CA,
 where it obtains its own signing certificate from a public CA.
 .
 This package is a part of the PKI Core used by the Certificate System.

Package: pki-silent
Architecture: all
Depends: ${java:Depends}, ${misc:Depends},
 libpki-silent-java (= ${binary:Version}),
 pki-common,
Description: Certificate System - Silent Installer
 The PKI Silent Installer may be used to "automatically" configure
 the following PKI subsystems in a non-graphical (batch) fashion
 including:
 .
     the Certificate Authority (CA),
     the Data Recovery Manager (DRM),
     the Online Certificate Status Protocol (OCSP) Manager,
     the Registration Authority (RA),
     the Token Key Service (TKS), and/or
     the Token Processing System (TPS).
 .
 This package is a part of the PKI Core used by the Certificate System.

Package: libpki-silent-java
Architecture: all
Depends: ${java:Depends}, ${misc:Depends},
Description: Certificate System - Silent Installer - Java bindings
 The PKI Silent Installer may be used to "automatically" configure
 the following PKI subsystems in a non-graphical (batch) fashion
 including:
 .
     the Certificate Authority (CA),
     the Data Recovery Manager (DRM),
     the Online Certificate Status Protocol (OCSP) Manager,
     the Registration Authority (RA),
     the Token Key Service (TKS), and/or
     the Token Processing System (TPS).
 .
 This package is a part of the PKI Core used by the Certificate System.

Package: dogtag-pki-common-theme
Architecture: any
Provides: pki-common-theme, pki-common-ui
Description: Certificate System - PKI Common Framework User Interface
 This PKI Common Framework User Interface contains
 the Dogtag textual and graphical user interface for the PKI Common Framework.
 .
 This package is used by the Dogtag Certificate System.

Package: dogtag-pki-ca-theme
Architecture: any
Depends: dogtag-pki-common-theme (= ${binary:Version})
Provides: pki-ca-theme, pki-ca-ui
Description: Certificate System - Certificate Authority User Interface
 This Certificate Authority (CA) User Interface contains
 the Dogtag textual and graphical user interface for the CA.
 .
 This package is used by the Dogtag Certificate System.

Package: dogtag-pki-kra-theme
Architecture: any
Depends: dogtag-pki-common-theme (= ${binary:Version})
Provides: pki-kra-theme, pki-kra-ui
Description: Certificate System - Data Recovery Manager User Interface
 This Data Recovery Manager (DRM) User Interface contains
 the Dogtag textual and graphical user interface for the DRM.
 .
 This package is used by the Dogtag Certificate System.

Package: dogtag-pki-ocsp-theme
Architecture: any
Depends: dogtag-pki-common-theme (= ${binary:Version})
Provides: pki-ocsp-theme, pki-ocsp-ui
Description: Certificate System - Online Certificate Status Protocol Manager User Interface
 This Online Certificate Status Protocol (OCSP) Manager
 User Interface contains the Dogtag textual and graphical
 user interface for the OCSP Manager.
 .
 This package is used by the Dogtag Certificate System.

Package: dogtag-pki-ra-theme
Architecture: any
Provides: pki-ra-theme, pki-ra-ui
Description: Certificate System - Registration Authority User Interface
 This Registration Authority (RA) User Interface contains
 the Dogtag textual and graphical user interface for the RA.
 .
 This package is used by the Dogtag Certificate System.

Package: dogtag-pki-tks-theme
Architecture: any
Depends: dogtag-pki-common-theme (= ${binary:Version})
Provides: pki-tks-theme, pki-tks-ui
Description: Certificate System - Token Key Service User Interface
 This Token Key Service (TKS) User Interface contains
 the Dogtag textual and graphical user interface for the TKS.
 .
 This package is used by the Dogtag Certificate System.

Package: dogtag-pki-tps-theme
Architecture: any
Provides: pki-tps-theme, pki-tps-ui
Description: Certificate System - Token Processing System User Interface
 This Token Processing System (TPS) User Interface contains
 the Dogtag textual and graphical user interface for the TPS.
 .
 This package is used by the Dogtag Certificate System.

Package: dogtag-pki-console-theme
Architecture: any
Section: java
Depends: java6-runtime
Provides: pki-console-theme, pki-console-ui
Description: Certificate System - PKI Console User Interface
 This PKI Console User Interface contains
 the Dogtag textual and graphical user interface for the PKI Console.
 .
 This package is used by the Dogtag Certificate System.

Package: pki-kra
Architecture: any
Depends: ${java:Depends}, ${misc:Depends},
 pki-common,
 pki-kra-theme,
Description: Certificate System - Data Recovery Manager
 Certificate System (CS) is an enterprise software system designed
 to manage enterprise Public Key Infrastructure (PKI) deployments.
 .
 The Data Recovery Manager (DRM) is an optional PKI subsystem that can act
 as a Key Recovery Authority (KRA).  When configured in conjunction with the
 Certificate Authority (CA), the DRM stores private encryption keys as part of
 the certificate enrollment process.  The key archival mechanism is triggered
 when a user enrolls in the PKI and creates the certificate request.  Using the
 Certificate Request Message Format (CRMF) request format, a request is
 generated for the user's private encryption key.  This key is then stored in
 the DRM which is configured to store keys in an encrypted format that can only
 be decrypted by several agents requesting the key at one time, providing for
 protection of the public encryption keys for the users in the PKI deployment.
 .
 Note that the DRM archives encryption keys; it does NOT archive signing keys,
 since such archival would undermine non-repudiation properties of signing keys.
